.playlist-song-title h3 {
    color: rgb(0, 232, 0);
    font-weight: 800;
    letter-spacing: 0.05em;
}

.playlistbutton {
    color: white;
    letter-spacing: 0.05em;
    font-weight: 800;
    max-width: 200px;
    margin-top: 10px;
}

.removesong {
    position: absolute;
    right: -50px;
    top: 8px;
    height: 40px;
    width: 40px;
    left: unset;
    border-radius: 50%;
    justify-content: center;
    font-weight: 800;
    font-size: 1.1em;
    background-color: rgb(57, 57, 57);
    opacity: 0.5;
}

.removesong:hover {
    opacity: 1;
}