.artistImage {
    display: flex;
    justify-content: center;
}

.artistImage img {
    border-radius: 50%;
}

.artistName {
    display: flex;
    justify-content: center;
    letter-spacing: 0.1em;
}

.artistName h3 {
    font-weight: 900;
}

.artistsongtitle {
    padding-left: 20px;
    letter-spacing: 0.1em;
    color: rgb(0, 216, 0);
}

.artistsongtitle h3 {
    font-weight: 900;
}

.artistsongtitle span {
    color: rgb(210, 206, 206);
}