.row {
    margin: 0;
}

.feature {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.feature h1 {
    font-weight: 700;
}

.feature span {
    color: rgb(52, 242, 52);
}


.featureText {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.featureText h5 {
    font-weight: 1000;
    color: rgb(179, 179, 179);
    letter-spacing: .1em;
}

.albumContainer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.album {
    width: 200px;
    height: 250px;
    text-align: center;
    margin-right: 20px;
}

.album img {
    width: 200px;
    height: 200px;
    margin-bottom: 5px;
}

.album p {
    padding: 0;
    margin: 0;
    font-weight: 700;
}

.album .artist {
    color: rgb(164, 161, 161);
}