.albumPlay {
    position: absolute;
    font-size: 3em;
    color: rgb(0, 228, 0);
    top: 25%;
    left: 40%;
}

.row {
    margin: 0;
}

.randomize {
    background: linear-gradient(to bottom, #747070 5%, #3f3f3f 100%);
    background-color: #5e5b5b;
    color: #0bb802;
    border-radius: 5px;
}


.randomDiv {
    display: flex;
    align-items: center;
}

.randomDiv p {
    letter-spacing: 1px;
    padding-left: 5px;
    margin: 0;
    font-weight: 700;
    color: rgb(206, 206, 206);
}

.feature {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.feature h1 {
    font-weight: 700;
}

.feature span {
    color: rgb(52, 242, 52);
}


.featureText {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.featureText h5 {
    font-weight: 1000;
    color: rgb(179, 179, 179);
    letter-spacing: .1em;
}

.albumContainer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.album {
    position: relative;
    width: 200px;
    height: 260px;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 20px;
    display: inline-block;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
}

.album img {
    width: 200px;
    height: 200px;
    margin-bottom: 5px;
}

.album img:hover {
    opacity: 0.5;
}

.albumIcon {
    position: absolute;
    opacity: 0;
    font-size: 3em;
    left: 40%;
    top: 25%;
}

.profilebox:hover+.albumIcon {
    opacity: 1;
}

.albumIcon:hover {
    opacity: 1;
    transform: scale(1.25);
    color: rgb(4, 227, 4);
}

.album p {
    padding: 0;
    margin: 0;
    font-weight: 700;
}

.albumName {
    color: white;
}

.album .artist {
    color: rgb(164, 161, 161);
}

.albumInfo {
    text-decoration: none;
}