body {
    background-image: linear-gradient(#464f53, #070808 85%);
    min-height: 900px;
    background-repeat: no-repeat;
}

.container-fluid {
    padding: 0;
}

.navContainer {
    position: fixed;
    display: block;
    font-weight: 700;
    width: 200px;
    height: 100vh;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
}

.bodyContainer {
    color: white;
    margin-left: 250px;
}

.audiobox {
    background-color: #282828;
    height: 90px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.audiobox .middle .row .panel {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel {
    display: flex;
    justify-content: center;
}

.audiobox .play {
    color: grey;
    font-size: 2.5em;
    margin-left: 20px;
    margin-right: 20px;
}

.play:hover,
.backward:hover,
.forward:hover,
.redo:hover,
.random:hover {
    color: white;
}

.backward,
.forward,
.redo,
.random {
    margin-left: 20px;
    margin-right: 20px;
    color: grey;
    font-size: 1em;
}