.bar {
    display: flex;
    align-items: center;
}

.barTime {
    font-size: 0.8em;
    font-weight: 700;
}

.timelinebar {
    width: 90%;
    height: 5px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.knob {
    bottom: 5px;
    position: relative;
    height: 16px;
    width: 16px;
    border: 1.5px solid white;
    border-radius: 50%;
    background-color: white;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.volumebox {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(128, 128, 128);
}

#volume {
    margin: 0 auto;
    height: 5px;
    width: 100px;
    background: #555;
    border-radius: 20px;
}

.audiobox .play {
    color: grey;
    font-size: 2.5em;
    margin-left: 20px;
    margin-right: 20px;
}

.play:hover,
.backward:hover,
.forward:hover,
.redo:hover,
.random:hover,
.redoON:hover {
    color: white;
}

.redoON {
    color: green;
    margin-left: 20px;
    margin-right: 20px;
}

.backward,
.forward,
.redo,
.random {
    margin-left: 20px;
    margin-right: 20px;
    color: grey;
    font-size: 1em;
}